@font-face {
    font-family: "pubgm45";
    src: url('../fonts/pubgm45.ttf') format('truetype'),
        url('../fonts/pubgm45.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --ff-heading-font: "pubgm45", sans-serif !important;
}

body {
    background: #ffffff;
    font-family: 'pubgm45', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}


/*---------------------------------------
    Typography
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.05em;
}

h1 {
    font-weight: 600;
    font-size: 5em;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #ffffff;
    font-size: 1.2em;
    margin: 2em 0 3em 0;
    text-shadow: 1px 1px 2px black;
}

#vn p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
    font-size: 1.2em;
    margin: 2em 0 3em 0;
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none !important;
    outline: none;
}

/*---------------------------------------
    General
-----------------------------------------*/

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.button {
    background: #FFBD14;
    border: transparent;
    border-radius: 0;
    color: #000000;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    padding: 14px 42px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: inline-block;
}

.button:hover {
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
}

img {
    width: initial;
    height: 100%;
    margin: auto;
}

/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
    width: 50px;
    height: 50px;
    background-color: #FFBD14;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #0B0C10;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-nav {
    float: right;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    padding: 15px 23px;
    font-size: 0.9em;
}

.custom-navbar .nav.th li a {
    padding: 15px 23px;
    font-size: 1.1em;
}

.custom-navbar .nav.vn li a {
    padding: 15px 23px;
    font-size: 1em;
}

.custom-navbar .navbar-header a {
    padding: 7px;
}

/* .custom-navbar .navbar-brand span {
    background: url("/images/logo.png") no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 2em;
} */


.custom-navbar .nav li .button {
    margin: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    transition: none;
    padding: 7px 23px;
}

.custom-navbar .nav.th li .button {
    margin: 0.5em 0.5em 0.5em 0;
    padding: 9px 15px;
}

.custom-navbar .nav.th li .button:hover {
    background: transparent;
    border: 0.5px solid #ffffff;
    color: #ffffff;
}

.custom-navbar .nav.vn li .button {
    margin: 0.5em 1em 0.5em 0.5em;
    padding: 9px 13px;
    font-size: 1.1em;
}

.custom-navbar .nav.vn li .button:hover {
    background: transparent;
    border: 0.5px solid #ffffff;
    color: #ffffff;
}

.custom-navbar .nav li .button:hover {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #45A29E;
    border-bottom: 5px solid #45A29E
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active>a {
    background-color: transparent;
    border-bottom: 5px solid #45A29E;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

.custom-navbar .nav li a.language {
    padding: 15px 0;
    float: left;
}

.custom-navbar .navbar-nav>li>span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    float: left;
    padding: 15px 8px;
}

.custom-navbar .navbar-nav.th>li>span {
    padding: 15px 5px;
}

.custom-navbar .navbar-nav.th>li>span {
    padding: 15px 5px;
}

.custom-navbar .nav li a.disabled-link {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}

/*---------------------------------------
    Landing section
-----------------------------------------*/
#landing {
    background: url('../images/landing.jpg') no-repeat top center;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landing .container {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#landing img.logo {
    height: 50vh;
    width: auto;
    max-height: 941px;
}

#landing a {
    font-family: 'Teko', sans-serif;
    color: #45A29E;
    font-size: 2em;
    text-transform: uppercase;
}

#landing a img {
    width: auto;
    height: 30vh;
    max-height: 387px;
}

#landing a:hover img {
    filter: drop-shadow(0 0 0.75rem rgb(242, 242, 242));
}

#landing a:hover {
    filter: drop-shadow(0 0 0.75rem rgb(242, 242, 242));
}

#landing .landing {
    display: flex;
}

#landing .country {
    display: inline-block;
    align-self: flex-end;
}

/*---------------------------------------
    HOME section
-----------------------------------------*/
#home {
    background: url('/images/hero-bg-2.png') fixed top center;
    -webkit-background-size: cover;
    background-color: #0B0C10;
    background-size: contain;
    color: #ffffff;
    text-align: center;
}

#home .container {
    padding: 5em 0 20em 0;
}

#home .sponsor {
    margin-top: 2em;
}

#home p.sponsorMsg {
    margin: 1em 0 1em 0;
}

#home h1 {
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 0;
    margin-bottom: 0.5em;
}

#home img {
    width: 50%;
}

#home img.thisShop {
    width: 25%;
}

#home .button:hover {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}


/*---------------------------------------
   Overview  section
-----------------------------------------*/

#overview .container {
    padding: 11em 0 12em 0;
}

#overview .myImage {
    background: url('/images/bg-4-update-5.png') no-repeat top center;
    margin-top: -19em;
    background-size: cover;
}

#overview .video-vivo {
    margin-top: 14em;
}

#overview iframe {
    border: none;
}

#overview img {
    margin: inherit;
}

#overview p {
    color: #000000;
    text-align: left;
    margin: 3em 0.5em 0 0;
    text-shadow: none;
}

#overview .vivo-img-right {
    position: absolute;
    background-image: url(../images/overview-img.png);
    background-repeat: no-repeat;
    margin-top: 13em;
    background-size: contain;
    background-position: 95%;
    right: 0;
    width: 100%;
    height: 32em;
}

#overview .vivo-img-small {
    display: none;
}

/*---------------------------------------
   prize section
-----------------------------------------*/

#prize .myImage {
    background: url('/images/bg-4-down-5.png') no-repeat top center;
    background-size: cover;
    margin-top: -21em;
}

#prize .container {
    padding: 4em 0 11em 0;
}

#prize span img {
    /* padding: 0; */
}

/*---------------------------------------
   schedule section
-----------------------------------------*/
#schedule img {
    padding: 10px 15px;
}

#schedule img.reg {
    padding: 20px 15px 0;
}

#schedule .registerImg {
    background-image: url(../images/registrationb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: inline-flex;
    height: 526px;
    width: 100%;
    /* margin-bottom: 2em; */
}

#schedule .qualImg {
    background-image: url(../images/qualiferb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: inline-flex;
    height: 526px;
    width: 100%;
    /* margin-bottom: 2em; */
}

#schedule .countryImg {
    background-image: url(../images/country-finalsb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: inline-flex;
    height: 526px;
    width: 100%;
    /* margin-bottom: 2em; */
}

#schedule .finalsImg {
    background-image: url(../images/finalsb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-flex;
    height: 396px;
    width: 100%;
    margin-bottom: 2em;
}

#schedule .mfinalsImg {
    background-image: url(../images/mobile-finalsb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: inline-flex;
    height: 526px;
    width: 100%;
    /* margin-bottom: 2em; */
}

#schedule p {
    flex: auto;
    align-self: flex-end;
    font-size: 2em;
    font-family: 'pubgm45', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 1.1em;
    margin: 2em 0 43px 0;
}

#schedule p.vn {
    padding: 0 1em;
}

#schedule .finalsImg p {
    align-self: flex-start;
    font-size: 2.5em;
    padding: 3em 0;
}


#schedule .finalsImg p.th {
    padding: 2em 4em;
}

#schedule .finalsImg p.vn {
    /* padding: 2em 4em; */
}

#schedule .mfinalsImg p {
    align-self: flex-start;
    font-size: 2.5em;
}

#schedule p span.scheLabel {
    display: block;
    font-size: 1.2em;
    padding: 0 0 5px 0;
}

#schedule p span.dash {
    font-family: 'pubgm45', Helvetica, Arial, sans-serif;
    font-style: normal;
}

#schedule sup {
    font-size: 0.5em;
    top: -1em;
}

.scheLabel.reg {
    color: #FFB373;
}

.scheLabel.qual {
    color: #BB87FF;
}

.scheLabel.cf {
    color: #FF5B5B;
}

#schedule .finals p .sfDate {
    color: #FFB373;
}


#schedule .container {
    background: url("../images/schedule-bg.png") no-repeat;
    background-size: contain;
    padding: 0 0 16em 0;
}

#schedule .section-title {
    padding-top: 3em;
}

#schedule h2 {
    color: #000000;
}


#schedule .myImage {
    background: url('/images/bg-5-2.png') no-repeat top center;
    background-size: cover;
    margin-top: -21em;
}

#schedule .button {
    margin-top: 0;
    margin-bottom: 1em;
}

/*---------------------------------------
leaderboard section
-----------------------------------------*/
#leaderboard .myImage {
    background: url(../images/bg-end.png) no-repeat top center;
    margin-top: -16em;
    background-size: cover;
}

#leaderboard .container {
    padding: 10em 0 6em 0;
}

.leaderboard {
    margin-bottom: 1em;
}

#leaderboard p {
    margin: 2em 0 1em 0;
}

#leaderboard .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: inline-block;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(0, 102, 255);
    letter-spacing: 0.05em;
    font-size: 1.1em;
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
}

tbody {
    white-space: nowrap;
}

td,
th {
    padding: 5px 20px;
}

th {
    text-align: center;
    background-color: #FFBD14;
    color: #000000;
}

td {
    border: 1px solid rgb(0, 102, 255);
    border-right: 2px dashed #FFBD14;
    ;
}

tr:nth-child(even) td {
    background-color: #192E9F;
}

tr:nth-child(odd) td {
    background-color: #192E9F;
}

tr.below:nth-child(even) td {
    background-color: #ff5b5b;
}

tr.below:nth-child(odd) td {
    background-color: #ff5b5b;
}

td:last-child {
    border-right: inherit;
}

#leaderboard .note {
    font-size: 1em;
}

.myCircle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: transparent;
    border: 3px solid #3DE64E;
    color: #3DE64E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.rankUp {
    /*background: url("../images/rankUp.png") no-repeat;*/
    /*background-size: contain;*/
    float: left;
    height: 1.3em;
    margin-right: 0.4em;
    /*width: 18px;*/
}

.rankDown {
    /*background: url("../images/rankDown.png") no-repeat;*/
    /*background-size: contain;*/
    float: left;
    height: 1.3em;
    margin-right: 0.4em;
    /*width: 18px;*/
}

/*---------------------------------------
   Registration section
-----------------------------------------*/
#registration {
    color: #ffffff;
    background-image: url(../images/bg-end.png);
    background-color: #386ae1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#registration .myImage {
    height: 100vh;
    overflow: auto;
    scrollbar-width: #2c5ed5;
    scrollbar-color: #2c5ed5 #3668df;
}

#registration .container {
    padding: 5em 0 0 0;
}

.ff-form p {
    text-shadow: none;
}

/* Works on Chrome, Edge, and Safari */
#registration .myImage::-webkit-scrollbar {
    width: 12px;
}

#registration .myImage::-webkit-scrollbar-track {
    background: #2c5ed5;
}

#registration .myImage::-webkit-scrollbar-thumb {
    background-color: #3668df;
    border: 1px solid #2c5ed5;
}

/*---------------------------------------
   Form Facade section
-----------------------------------------*/
#ff-compose {
    margin: 6em 1em;
}

#ff-compose .ff-form {
    background: transparent;
    color: #ffffff !important;
}

.ff-form .ff-secfields .ff-item label {
    color: #ffffff !important;
}

.ff-form .ff-secfields .ff-item label a {
    color: #ffffff;
    text-decoration: underline !important;
}

.ff-form .ff-secfields .ff-item label a:hover {
    text-decoration: none !important;
}

.ff-form .ff-description p {
    color: #ffffff !important;
}

.ff-form .ff-description a {
    color: #ffffff !important;
    text-decoration: underline !important;
    ;
}

.ff-form .ff-description a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.ff-form .ff-next:hover,
.ff-form .ff-submit:hover {
    background: #FFBD14 !important;
    border: transparent;
    border-radius: 0;
    color: #000000 !important;
}

.ff-form .ff-next,
.ff-form .ff-submit {
    background: transparent !important;
    border: 2px solid #ffffff;
    color: #ffffff !important;
}

.ff-form .ff-file-upload a.addfile {
    padding: 6px 8px;
    border-radius: 0 !important;
}

.ff-form .ff-file-upload a:hover {
    background: transparent !important;
    border: 2px solid #ffffff;
    color: #ffffff !important;
}

.ff-form .ff-file-upload a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background: #FFBD14 !important;
    border: transparent;
    border-radius: 0;
    color: #000000 !important;
}

.ff-form .ff-secfields .ff-item .text-muted,
.ff-form .ff-secfields .ff-item .text-muted p {
    color: #ffffff !important;
    text-decoration: underline !important;
}

/*---------------------------------------
   Footer section
-----------------------------------------*/
footer {
    background-attachment: fixed;
    background-color: #000000;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

footer .img-responsive {
    display: block;
    max-width: 75%;
    height: auto;
}

footer .img-responsive.vn {
    display: block;
    max-width: 85%;
    height: auto;
}


/* Back top */
.go-top {
    bottom: 1.5em;
    right: 1.5em;
    background: #FFBD14;
    border: transparent;
    border-radius: 0;
    color: #000000;
    font-size: 1.5em;
    display: none;
    position: fixed;
    padding: 0.3em 0.5em 0 0.5em;
    text-align: center;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0;
}

.go-top:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
}

/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    padding: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 767px) {

    .custom-navbar .nav li a {
        font-size: 11px;
        line-height: 20px;
    }

    .custom-navbar .nav li a.language {
        padding: 7px 23px;
        float: none;
    }

    .custom-navbar .navbar-nav>li>span {
        display: none;
    }

    .custom-navbar .navbar-brand {
        line-height: 20px;
        font-size: 2rem;
    }

    .nav-tabs>li>a {
        font-size: 13px;
    }

    .navbar-nav {
        float: initial;
    }

    #home {
        background: url('/images/hero-bg.png') top center;
        -webkit-background-size: cover;
        background-size: cover;
        color: #ffffff;
        text-align: center;
    }

    #home img {
        width: 80%;
    }

    #home.th {
        background: url('../images/header-mobileth.jpg') top center;
        -webkit-background-size: cover;
        background-size: cover;
        color: #ffffff;
        text-align: center;
    }

    #overview .myImage {
        background: url(../images/mobile-bg-up.png) no-repeat top center;
        margin-top: -11em;
        background-size: cover;
    }

    #overview .container {
        padding: 11em 0 35em 0;
    }

    #overview .details {
        margin-top: 0;
    }

    #overview p {
        padding-bottom: 3em;
        text-align: center;
        color: #000000;
    }

    #overview img {
        padding-top: 32px;
    }

    #overview .vivo-img-small {
        background: url(../images/overview-img.png) no-repeat center;
        background-size: contain;
        width: 100%;
        height: 24em;
        display: flex;
        margin: auto;
    }

    #overview .vivo-img-right {
        display: none;
    }

    #overview .video-vivo {
        margin-top: 0;
    }

    #prize .myImage {
        background: url(../images/mobile-bg1-up.png) no-repeat top center;
        background-size: cover;
        margin-top: -1em;
    }

    #home .container {
        padding: 5em 0 32em 0;
    }

    #home img.thisShop {
        width: 40%;
    }

    #prize .container {
        padding: 4em 0 24em 0;
    }

    #schedule .section-title {
        padding-top: 1em;
    }


    #schedule img {
        padding: 3em 2em;
    }

    #schedule p {
        margin: 1em 0 2em 0;
    }

    #schedule .registerImg {
        margin-bottom: 2em;
    }

    #schedule .qualImg {
        margin-bottom: 2em;
    }

    #schedule .countryImg {
        margin-bottom: 2em;
    }

    #schedule .mfinalsImg {
        margin-bottom: 2em;
    }

    #schedule .mfinalsImg p {
        font-size: 4em;
    }

    #schedule p.th {
        padding: 0 2em;
    }

    #schedule .mfinalsImg p.th {
        font-size: 2em;
    }

    #schedule p.vn {
        padding: 0 2em;
    }

    #schedule .mfinalsImg p.vn {
        font-size: 2em;
        padding: 1em 2em;
    }

    table {
        display: block;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    #landing img.logo {
        width: 100%;
        height: unset;
    }

    #landing {
        height: auto;
    }

    #landing a img {
        width: 100%;
        height: unset;
    }

    #landing .landing {
        display: inline-grid;
    }

    #landing .container {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3em;
    }

    #landing .country {
        display: inline-block;
        align-self: flex-end;
        margin: 1em auto;
    }

    #registration .myImage {
        height: 100%;
    }

    .go-top {
        display: none !important;
    }

    .parallax-section {
        background-attachment: inherit !important;
        background-size: cover !important;
    }

    footer .img-responsive {
        max-width: 100%;
    }

    footer .img-responsive.vn {
        max-width: 100%;
    }

}

@media (max-width: 991px) and (min-width: 768px) {
    .container {
        width: 750px;
    }

    #landing .landing {
        display: inline-grid;
    }

    #landing .container {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3em;
    }

    #landing .country {
        display: inline-block;
        align-self: flex-end;
        margin: 1em auto;
    }

    #home img.thisShop {
        width: 40%;
    }

    #overview .vivo-img-small {
        background: url(../images/overview-img.png) no-repeat center;
        background-size: contain;
        width: 100%;
        height: 30em;
        display: inline-block;
        margin: auto;
    }

    #overview .vivo-img-right {
        display: none;
    }

    #overview p {
        color: #000000;
        text-align: center;
        padding-bottom: 3em;
    }

    #overview .video-vivo {
        margin-top: 0;
    }

    #landing {
        height: auto;
    }

    #landing img.logo {
        width: 100%;
        height: unset;
    }

    #landing a img {
        width: 100%;
        height: unset;
    }
}


@media (min-width: 992px) {
    .container {}

    #overview .container {
        padding: 11em 0 12em 0;
    }

    #prize .container {
        padding: 4em 0 11em 0;
    }

}

@media (min-width: 1368px) and (orientation: landscape) {
    #overview .container {
        padding: 11em 0 25em 0;
    }

    #prize .container {
        padding: 4em 0 16em 0;
    }
}

@media (min-width: 1024px) {
    #overview .container {
        padding: 11em 0 12em 0;
    }
}

@media (min-width: 1360px) {

    #landing .container {
        width: 1170px;
    }

    #home img {
        width: 60%;
    }

    #overview .container {
        padding: 11em 0 12em 0;
    }

    #overview .vivo-img-right {
        position: absolute;
        background-image: url(../images/overview-img.png);
        background-repeat: no-repeat;
        margin-top: 9em;
        background-size: contain;
        background-position: 91%;
        right: 0;
        width: 100%;
        height: 37em;
    }

}

@media (min-width: 1440px) {

    #overview .container {
        padding: 11em 0 21em 0;
    }

}


@media (min-width: 1920px) {

    #home .container {
        padding: 5em 0 23em 0;
    }

    #home img {
        width: 70%;
    }

    #overview .container {
        padding: 15em 0 49em 0;
    }

    #overview .myImage {
        background: url(../images/bg-4-update.png) no-repeat top center;
        margin-top: -18em;
        background-size: cover;
    }

    #overview .vivo-img-right {
        position: absolute;
        background-image: url(../images/overview-img.png);
        background-repeat: no-repeat;
        margin-top: 10em;
        background-size: contain;
        background-position: 78%;
        right: 0;
        width: 100%;
        height: 42em;
    }

    #prize .container {
        padding: 4em 0 28em 0;
    }

    #leaderboard .myImage {
        background: url(../images/bg-end.png) no-repeat top center;
        margin-top: -19em;
        background-size: cover;
    }

    #leaderboard .container {
        padding: 20em 0 6em 0;
    }
}


@media (min-width: 2000px) {
    .container {
        width: 1170px;
    }

    #landing .container {
        width: 1170px;
    }

    p {
        font-size: 2em;
    }

    #vn p {
        font-size: 2em;
    }

    .custom-navbar .nav li a {
        font-size: 1.5em;
    }

    .custom-navbar .nav li .button {
        font-size: 1.4em;
    }

    .custom-navbar .nav.vn li a {
        font-size: 1.5em;
    }

    .custom-navbar .nav.vn li .button {
        padding: 6px 13px;
        font-size: 1.4em;
    }

    .custom-navbar .nav.th li a {
        padding: 15px 23px;
        font-size: 1.5em;
    }

    .custom-navbar .nav.th li .button {
        font-size: 1.4em;
        padding: 8px 19px;
    }

    #home img {
        width: 65%;
    }

    #home h1 {
        font-size: 8em;
    }

    #home .container {
        padding: 5em 0 35em 0;
    }

    #overview .container {
        padding: 20em 0 65em 0;
    }

    #overview .myImage {
        background: url(../images/bg-4-update.png) no-repeat top center;
        margin-top: -24em;
        background-size: cover;
    }

    #overview .vivo-img-right {
        position: absolute;
        background-image: url(../images/overview-img.png);
        background-repeat: no-repeat;
        margin-top: 10em;
        background-size: contain;
        background-position: 82%;
        right: 0;
        width: 100%;
        height: 58em;
    }

    #prize .container {
        padding: 12em 0 36em 0;
    }

    #schedule .container {
        background: url(../images/schedule-bg.png) no-repeat;
        background-size: contain;
        padding: 0 0 30em 0;
    }

    #schedule p.th {
        padding: 0 2em;
    }

    #schedule p.vn {
        padding: 0 2em;
    }

    #schedule .finalsImg p {
        align-self: flex-start;
        font-size: 4em;
        padding: 1em 0;
    }

    #schedule .finalsImg p.th {
        padding: 2.5em 5em;
        font-size: 3em;
    }

    #schedule .finalsImg p.vn {
        padding: 2em 5em;
        font-size: 3em;
    }

    #leaderboard .myImage {
        background: url(../images/bg-end.png) no-repeat top center;
        margin-top: -30em;
        background-size: cover;
    }

    #leaderboard .container {
        padding: 23em 0 2em 0;
    }

    h2 {
        font-size: 5em;
    }

    footer .img-responsive {
        max-width: 100%;
    }

    footer .img-responsive.vn {
        max-width: 100%;
    }
}

@media (min-width: 2879px) {
    .container {
        width: 1800px;
    }

    #landing .container {
        width: 1800px;
    }

    #home .container {
        padding: 5em 0 44em 0;
    }

    #overview .myImage {
        background: url(../images/bg-4-update.png) no-repeat top center;
        margin-top: -33em;
        background-size: cover;
    }

    #overview .container {
        padding: 32em 0 40em 0;
    }

    #overview .vivo-img-right {
        position: absolute;
        background-image: url(../images/overview-img.png);
        background-repeat: no-repeat;
        margin-top: 13em;
        background-size: contain;
        background-position: 81%;
        right: 0;
        width: 100%;
        height: 69em;
    }

    #prize .container {
        padding: 12em 0 72em 0;
    }

    #leaderboard .myImage {
        background: url(../images/bg-end.png) no-repeat top center;
        margin-top: -40em;
        background-size: cover;
    }

    #leaderboard .container {
        padding: 34em 0 2em 0;
    }
}

@media (min-width: 3000px) {

    #overview .container {
        padding: 32em 0 68em 0;
    }

    #prize .container {
        padding: 12em 0 55em 0;
    }
}

.pad-top-50vh {
    padding-top: 50vh;
}

.pad-bot-50vh {
    padding-bottom: 50vh;
}

.pad-bot-25vh {
    padding-bottom: 25vh;
}

.pad-top-15vh {
    padding-top: 15vh;
}

.pad-bot-15vh {
    padding-bottom: 15vh;
}